{% extends 'base.html' %} {% load static %} {% load material_form %}

{% block title %} Registration Form {% endblock title %} {% block content %}
<form method="POST" enctype="multipart/form-data">
  <div class="container">
    {% csrf_token %} {% form %} {% part form.fullname prefix %}<i
      class="material-icons prefix"
      >account_circle</i
    >{% endpart %} {% part form.mobile prefix %}<i class="material-icons prefix"
      >phone</i
    >{% endpart %} {% part form.emp_code prefix %}<i
      class="material-icons prefix"
      >lock_open</i
    >{% endpart %} {% part form.position prefix %}<i
      class="material-icons prefix"
      >description</i
    >{% endpart %} {% endform %}
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
      <i class="material-icons right">send</i>
    </button>
    <br />
  </div>
  <div class="fixed-action-btn">
    <a href="{% url 'employee_list' %}" class="btn waves-effect waves-light">
      <i class="material-icons right">arrow_back</i>
    </a>
  </div>
</form>

<script>
    $(document).ready(function () {
      // Initialize materialize data picker
      $(".datepicker").datepicker({ format: "yyyy-mm-dd" });
      $("select").formSelect();
    });
</script>
{% endblock content %}
